* {
	box-sizing: border-box;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
    color: white;
}
a:link, a:visited, a:active {
    color: gray;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: orange;
}
strong {
    color: orange;
}
em {
    color: yellow;
    font-style: normal;
}
body table {
    font-size: 11pt;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3,
a {
	color: #34495e;
}

a {
	text-decoration: none;
}



.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #34495e;
	font-size: .99em;
}

.main-nav a:hover {
	color: #718daa;
}



.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
            .form {
                padding-top: 40px;
                padding-bottom: 40px;
            }

            body { 
                background:rgb(149, 149, 153);
                justify-content: center; 
            }
            form { 
                max-width:0px; 
                margin:1px auto;
                padding-bottom: 100px;
            }
            textarea {
                height: 100px;
                width: 400px;
                padding: 12px 20px;
                box-sizing: border-box;
                border: 2px solid #ccc;
                border-radius: 4px;
                background-color: #f8f8f8;
                font-size: 16px;
                resize: none;
            }
            .container {
                justify-content: center;
            }
            .container h2{
                text-indent: 700px;
                font-size: 2em;
                margin: 5px auto;
                position: top;
            }
            .wrapper {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                grid-gap: 30px;
                gap: 30px;
            }
            .wrapper .box{
                width: 100%;
                position: relative;
                padding: 20px;
            }
            input {
                width: 100%;
                background: transparent;
                border: none;
                outline: none;
                border-bottom: 1px solid rgb(14, 98, 138);
                transition: 0.5s linear;
                padding: 12px 20px;
                margin: 8px 0;
                box-sizing: border-box;    
            }
            input:focus,
            input:valid{
                padding: 10px 10px;
                margin-top: 10px;
            }
            .button {
                background-color: #34495e;
                width: 70px;
                height: 70px;
            }
            ::placeholder{
                color: black;
            }
            h4{
                text-indent: 100px;
                color: #34495e;
                font-size: 1.5em;
                margin-bottom: 0px;
            }
            p{
                text-indent: 100px;
            }

			.container .lines {
				width: 100%;
				height: 45px;
				position: relative;
                margin-top: 20px;
			}
			.lines::after, .lines::before{
				content: '';
				position: absolute;
				margin: 20px auto;
				height: 2px;
				background: rgb(192, 206, 205);
				width: 45%;
			}
			.lines::after{
				left: 0;
			}
			.lines::before{
				right: 0;
			}
            body{
                background: black;
            }
            table{
                border: 0;
            }
            td{
                text-align: center;
                vertical-align: top;
                width: 180px;
            }
            
            .bullshit{
                color: red;
            }
			p{
                text-indent: 0px;
            }
            


/* ================================= 
  Media Queries
==================================== */




@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
	}

}


@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}
